<!-- templates/devices.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device List</title>

    <!-- Bootstrap CSS (using CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Link to external CSS (index.css) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>

<body>

    <div class="container mt-5">

        <div class="tools text-center">
            <h1 class="mb-4">Inventory manager</h1>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_modal">
                Add new item
            </button>
        </div>

        <br>

        <div class="row" id="row">
            {% for device in items %}
            <div class="col-md-4" , id="card-{{device.id}}"">
                <div class=" card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ device.name }}</h5>
                    <p class="card-text">
                        <strong>Price:</strong> ${{ device.price }} <br>
                        <strong>Description:</strong> {{ device.description }} <br>
                        <strong>MAC Address:</strong> {{ device.mac_address }} <br>
                        <strong>Serial Number:</strong> {{ device.serial_number }} <br>
                        <strong>Manufacturer:</strong> {{ device.manufacturer }} <br>
                    </p>

                    <button class="btn btn-danger delete-btn" data-id="{{ device.id }}">Delete</button>
                    <button data-toggle="modal" data-target="#edit_modal" class="btn btn-warning edit-btn" data-id="{{ device.id }}">Edit</button>
                </div>
            </div>
        </div>
        {% else %}
        {% endfor %}


    </div>
    </div>


    <div class="modal fade" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="add_modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add_modal">Administrador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Add new item</h5>
                            <p class="card-text">

                            <div class="mb-3">
                                <label for="name" class="form-label"><strong>Name:</strong></label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name">
                            </div>

                            <div class="mb-3">
                                <label for="price" class="form-label"><strong>Price:</strong></label>
                                <input type="number" class="form-control" id="price" placeholder="Enter price">
                            </div>

                            <div class="mb-3">
                                <label for="description" class="form-label"><strong>Description:</strong></label>
                                <input type="text" class="form-control" id="description"
                                    placeholder="Enter description">
                            </div>

                            <div class="mb-3">
                                <label for="mac_address" class="form-label"><strong>MAC Address:</strong></label>
                                <input type="text" class="form-control" id="mac_address"
                                    placeholder="Enter MAC Address">
                            </div>

                            <div class="mb-3">
                                <label for="serial_number" class="form-label"><strong>Serial Number:</strong></label>
                                <input type="text" class="form-control" id="serial_number"
                                    placeholder="Enter Serial Number">
                            </div>

                            <div class="mb-3">
                                <label for="manufacturer" class="form-label"><strong>Manufacturer:</strong></label>
                                <input type="text" class="form-control" id="manufacturer"
                                    placeholder="Enter Manufacturer">
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="add-btn" class="btn btn-primary" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="edit_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit_modal">Administrador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Add new item</h5>
                        <p class="card-text">

                        <div class="mb-3">
                            <label for="name" class="form-label"><strong>Name:</strong></label>
                            <input type="text" class="form-control" id="edit_name" placeholder="Enter name">
                        </div>

                        <div class="mb-3">
                            <label for="price" class="form-label"><strong>Price:</strong></label>
                            <input type="number" class="form-control" id="edit_price" placeholder="Enter price">
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label"><strong>Description:</strong></label>
                            <input type="text" class="form-control" id="edit_description" placeholder="Enter description">
                        </div>

                        <div class="mb-3">
                            <label for="mac_address" class="form-label"><strong>MAC Address:</strong></label>
                            <input type="text" class="form-control" id="edit_mac_address" placeholder="Enter MAC Address">
                        </div>

                        <div class="mb-3">
                            <label for="serial_number" class="form-label"><strong>Serial Number:</strong></label>
                            <input type="text" class="form-control" id="edit_serial_number"
                                placeholder="Enter Serial Number">
                        </div>

                        <div class="mb-3">
                            <label for="manufacturer" class="form-label"><strong>Manufacturer:</strong></label>
                            <input type="text" class="form-control" id="edit_manufacturer" placeholder="Enter Manufacturer">
                        </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="edit-btn" class="btn btn-primary"
                    data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
    </div>

    <div id="notification_success" class="notification_success">Item added successfully</div>

    <!-- Bootstrap JS (optional for interactivity) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>

</body>

</html>